.message {
    width: 60%;
    height: 100%;
    // background-color: aqua;
}

#header {
    width: 46rem;
    height: 4rem;
    position: fixed;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid rgb(182, 180, 180);
}

.leftDiv {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    gap: 1rem;
}

.rightDiv {
    margin-right: 4rem;
    height: 5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: rgb(141, 139, 139);
    
}

.ProfileIcon {
    height: 5rem !important;
    width: 3rem !important;
}

.rightIcons {
    height: 5rem !important;
    width: 2rem !important;
}


#footer {
    width: 46rem;
    height: 5rem;
    position: fixed;
    bottom: 0;
    // background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .1rem;
    color: rgb(141, 139, 139);

    article {
        width: 80%;
        height: 2.5rem;
        border-radius: 10rem;
        border: 1px solid gray;
        display: flex;
        align-items: center;
        padding: 3px;
        gap: .5rem;

        input {
            width: 85%;
            padding: .2rem;
            border: none;
            outline: none;
        }

    }

    section {
        background-color: blue;
        border-radius: 50rem;
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;
    }
}